.mainContainer {
    text-align: center;
    
    .title {
        font-size: 30px;
        margin-top: 4rem;
        color: #fff;
    }

    .cover {
        border-radius: 50%;
    }

    .mIcon {
        color: rgb(1, 196, 255);
        font-size: 150px;
    }

    span {
        color: #fff;
    }
}