@import "../../styles/_mixins.scss";

.playerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 97%;
    left: 50%;
   transform: translate(-50%);
    background-color: rgba(75, 75, 75, 0.3);
   padding-bottom: 0.5rem;
   z-index: 3;
   bottom: 1rem; 
   border-radius: 30px;
   backdrop-filter: blur(15px);
   position: fixed;

   .trackProgress {
    grid-column-start: 1;
    grid-column-end: 4;
   }

   .track, .controller, .volume {
    margin-top: 1rem;
    @include flexCenter(row, center);
}

    .controller {
       @include flexCenter(row, space-evenly);
    }

   .volume {
    margin-left: auto;

    .plIcon {
        position: absolute;
    }
   }

   .plIcon {
    cursor: pointer;
    font-size: 2rem;
   }

   .prevIcon {
    transform: rotate(180deg);
   }

   .prevIcon, .nextIcon {
    font-size: 40px;
   }
}
